<form action="/editproduct" method="post">
  <input type="text" name="name" placeholder="Insert Name" />
  <input type="text" name="lastname" placeholder="Insert Description" />
  <input type="text" name="email" placeholder="Insert Amount" />
  <input type="text" name="password" placeholder="Insert Price" />
  <input type="text" name="password" placeholder="Insert Category" />

  <button type="submit">Edit Product</button>
</form>
